.ft-text{
    text-align: center;
    color : #000000
}
.ft-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.ft-element {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft-grid a {
    margin: 10px
}
.ft-grid img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    text-align: center;
}
.ft-text h5 {
    color: #003477;
    font-family: Raleway;
}


/* media query */
@media (max-width: 768px){
    .ft-grid{
        grid-template-columns: 100%;
    }
    .ft-element{
        justify-content: left;
    }
    .ft-grid img {
        margin-left: 0;
    }
    .ft-text{
        text-align: left;
    }
}