#box {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #9898983d;
    margin-top: 40vh;
    padding:7%;
}
h3 {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}