/* estilo de las clases de la presentacion */

/* se encargan de mostrar / ocultar los textos en pantalla */

.active {
    text-align: center;
    align-items: center;
    visibility: visible;
    position:relative;
    padding-top: 40vh;
    animation-duration: 2s;
    animation-name: show;
}
.cover {
    position: absolute;
    margin-top: 45vh;
    animation-duration: 2s;
    animation-name: hidden;
    visibility: hidden;
}

/* estilo del texto */
h2 {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 180%;
}

/* animaciones*/
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hidden {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}