
.active {
    text-align: center;
    align-items: center;
    visibility: visible;
    position:relative;
    padding-top: 40vh;
}
.cover {
    visibility: hidden;
    position: absolute;
    margin-top: 45vh
}
h2 {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}