/* estilos para cada skill */

#js {
    background-color:  #FFC3003d ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

#py {
    background-color:   #0053d93d ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

#rc {
    background-color: #000c213d  ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#dj {
    background-color:  #3979003d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#nd {
    background-color:  #7cd8003d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#sq {
    background-color:  #0070d83d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#msql {
    background-color:  #7e7e7e3d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#dck{
    background-color:  #00557c3d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#linux{
    background-color:  #c28d2b3d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#git{
    background-color:  #3333333d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#bts{
    background-color:  #6600c53d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#flk{
    background-color:  #2222223d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

