/* poscion del container */
.sk-box{
    position: relative;
    justify-content: center;
    align-items: center;
}
/* grilla */
.sk-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    position: relative;
    margin: 5%;
}
/* imagenes y texto */
.sk-box img {
    margin-left: 5%;
}
.sk-box h2 {
    font-family: Raleway;
}
.sk-box h3 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
}


/* media query */
@media (max-width: 768px){
    .sk-grid{
        display: grid;
        grid-template-columns: 100%;
    }
}

/* estilos para cada skill */
#js {
    background-color:  #FFC3003d ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

#py {
    background-color:   #0053d93d ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

#rc {
    background-color: #5165863d  ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#dj {
    background-color:  #3979003d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#nd {
    background-color:  #7cd8003d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#sq {
    background-color:  #0070d83d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#msql {
    background-color:  #7e7e7e3d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#mongodb{
    background-color:  #00ff0d3d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#dck{
    background-color:  #00557c3d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#linux{
    background-color:  #c28d2b3d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#git{
    background-color:  #3333333d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#bts{
    background-color:  #6600c53d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#flk{
    background-color:  #2222223d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#java{
    background-color:  #c538383d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#spring{
    background-color:  #57c7163d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}
#aws{
    background-color:  #c780163d   ;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}



